@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://github.com/lockb0x-llc/Stellar-DotNet-Identity-Framework">building Web apps with ASP.NET Core and the Stellar Development Foundation Blockchain</a>.</p>
    
</div>

<div class="row text-left">
    <ul>
        <li>Initial development of the Stellar DotNet Identity Tools was funded through an award from the <a href="https://communityfund.stellar.org/">Stellar Community Fund</a> and additional support and resources through the <a href="https://foundershub.startups.microsoft.com/">Microsoft Startup Founders Hub</a>.</li>
        <li>The Stellar DotNet Identity Tools can be used with our related tools, the <a href="">Stellar Razor and Blazor Suite</a> to more easily implement transaction signing, document attachments, payment processing, and more!</li>
        <li>Sign up for our next private beta of <a href="https://pakana.net">Pakana</a>, a next-generation project management, document, and payment processing application.</li>
    </ul>
</div>
